@import "fonts.css";
@import "vars.css";
@import "effects.css";

@import "components/home.css";
@import "components/header.css";
@import "components/footer.css";
@import "components/canvas.css";

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  background-blend-mode: multiply;

  color: #222;
  font-family: "Menlo";
  font-size: 1rem;
  line-height: 1.5;
  isolation: isolate; /* Isolates from canvas effect */
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

header > section,
main,
footer > section {
  min-width: var(--max-width);
  max-width: var(--max-width);
  margin: 0 auto;
}

main {
  flex: 1;
}

a {
  color: var(--black);
  text-decoration: none;
  cursor: pointer;
}

h1 {
  margin: 2rem 0;
}

img {
  max-width: var(--max-width);
}

p:not(.avoid-contrast p):not(:has(img)),
time {
  background: var(--background);
  background-blend-mode: multiply;
  position: relative;

  margin: 0 -100vw;
  padding: 0 100vw;
  max-width: var(--max-width);
  z-index: 19;
}

@media (max-width: 768px) {
  header > section,
  main,
  footer > section {
    min-width: 100dvw !important;
    max-width: 100dvw !important;
  }

  img,
  p,
  time {
    max-width: 100dvw !important;
  }

  main {
    padding: 0 1rem;
    box-sizing: border-box;
    overflow: hidden;
  }
}
