#intro {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: stretch;
  gap: 1rem;

  h1 {
    font-family: "Avone";
    font-size: 5rem;
    word-spacing: 100vw;
    line-height: 1;
    font-weight: 100;
    /* text-transform: uppercase; */

    color: transparent;

    /* https://css-tricks.com/grainy-gradients/ */
    background: linear-gradient(to bottom, #000000aa) 0 100% / 8rem 8rem,
     url("static/svg/noise.svg");

    -webkit-background-clip: text;
    background-clip: text;
    width: min-content;
  }

  p {
    margin: 3rem 0;
  }
}

#home-separator {
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: repeating-conic-gradient(var(--black) 0 15deg, transparent 0 30deg) 100%;
  border-radius: 100%;
}

#posts {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 8px
}

.post {
  background-color: var(--yellow);
  padding: 1rem;
}