{{ define "main" }}

  <section id="intro" class="avoid-contrast">
    <h1 class="misaligned-effect">{{ .Site.Title }}</h1>
    {{ .Content }}
  </section>

  <div id="home-separator" class="misaligned-effect"></div>

  <section id="posts">
    {{ range site.RegularPages }}
      <section class="post">
        <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
        {{ with .Resources.Get .Params.Image }}
          {{ with .Resize "300x" }}
            <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="">
          {{ end }}
        {{ end }}
        <p>{{ .Params.Summary }}</p>
      </section>
    {{ end }}
  </section>

{{ end }}
